@use "@/styles/mixins";

.replyContainer {
  display: flex;
  column-gap: 1rem;
  width: 100%;
  max-width: 650px;
}

.replyBody {
  @include mixins.replyMessage();
  flex-grow: 1;
  padding: 1rem;

  .replyTitle {
    color: var(--color-blue-200);
  }
}

.replyTitle {
  font-weight: bold;
}

.replyBody_outgoing {
  border-color: var(--color-green-100);
  .replyTitle {
    color: var(--color-green-100);
  }
}
